<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td>  <td>Participants are encouraged to <a href="setup">follow setup instructions</a> before the start of the course</td> </tr>
      <tr> <td>Week 1: Imaging</td>  <td><a href="01-imaging">How to image in 3D using Macropod 3D</a></tr>
      <tr> <td>Week 2: Rendering</td><td><a href="02-rendering">Create a first model</a></tr></tr>
      <tr> <td>Week 3: Publishing Images and Models</td><td><a href="03-publishing">publish your images and your models</a>
    </table>
  </div>
</div>
